body {
  color: #333;
  font-size: 14px;
}

#main .main-head {
  line-height: 80px;
  margin-top: 20px;
}

#main .main-head span {
  color: #777;
}

#main .main-cont .bigger .small-swiper {
  width: 110px;
  height: 540px;
  box-sizing: border-box;
  padding: 30px 0;
}

#main .main-cont .bigger .small-swiper i {
  display: block;
  width: 100%;
  height: 14px;
}

#main .main-cont .bigger .small-swiper .up {
  background: url(../images/icon-up3.png) no-repeat center;
  margin-bottom: 20px;
}

#main .main-cont .bigger .small-swiper .down {
  background: url(../images/icon-down.png) no-repeat center;
  margin-top: 20px;
}

#main .main-cont .bigger .small-swiper ul li {
  border: 1px solid #e3e3e3;
  margin: 10px 0;
  text-align: center;
  width: 72px;
  height: 72px;
  margin: 0 auto;
}

#main .main-cont .bigger .small-swiper ul li img {
  width: 70px;
  height: 70px;
}

#main .main-cont .bigger .imgBox {
  width: 538px;
  height: 538px;
  padding: 5px;
  overflow: hidden;
  border: 1px solid #e3e3e3;
}

#main .main-cont .bigger .imgBox .sBox {
  width: 529px;
  height: 529px;
  position: absolute;
}

#main .main-cont .bigger .imgBox .sBox img {
  width: 529px;
  height: 529px;
}

#main .main-cont .bigger .imgBox .sBox span {
  background: rgba(200, 200, 200, 0.6);
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

#main .main-cont .bigger .imgBox .bBox {
  width: 529px;
  height: 529px;
  position: absolute;
  left: 700px;
  top: 130px;
  overflow: hidden;
  display: none;
  z-index: 2;
}

#main .main-cont .bigger .imgBox .bBox img {
  width: 940px;
  height: 920px;
  position: absolute;
}

#main .main-cont .main-cont-r {
  margin-left: 30px;
}

#main .main-cont .main-cont-r h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

#main .main-cont .main-cont-r p {
  line-height: 38px;
}

#main .main-cont .main-cont-r .price b {
  font-size: 24px;
  font-weight: 700;
  color: #ed1c24;
}

#main .main-cont .main-cont-r .price span {
  font-size: 14px;
  color: #b0b0b0;
  line-height: 18px;
  text-decoration: line-through;
}

#main .main-cont .main-cont-r .price a {
  display: inline-block;
  text-align: right;
  margin-left: 140px;
  position: relative;
}

#main .main-cont .main-cont-r .price a i {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../images/qrcode.png) center no-repeat;
  background-size: cover;
}

#main .main-cont .main-cont-r .price a img {
  width: 100px;
  height: 100px;
  display: none;
  position: absolute;
  top: 16px;
  left: 0;
}

#main .main-cont .main-cont-r .gifts {
  width: 445px;
  height: 73px;
  background: #f8f8f8;
  font-size: 12px;
  margin: 28px 0 40px 0;
  overflow: hidden;
}

#main .main-cont .main-cont-r .gifts p {
  margin: 2px 0 0 20px;
}

#main .main-cont .main-cont-r .gifts p em {
  display: inline-block;
  padding: 0 2px;
  font-size: 12px;
  color: #ff6600;
  line-height: 18px;
  border: 1px solid  #ff3300;
  border-radius: 2px;
}

#main .main-cont .main-cont-r .gifts .timer {
  margin-left: 30px;
}

#main .main-cont .main-cont-r .gifts .timer span {
  display: inline-block;
  background: #ed1c24;
  color: #fff;
  padding: 2px 5px;
  margin-right: 5px;
}

#main .main-cont .main-cont-r .address span {
  padding: 0 5px;
}

#main .main-cont .main-cont-r .address .store {
  margin: 0 10px;
}

#main .main-cont .main-cont-r .address .store span {
  font-weight: 700;
}

#main .main-cont .main-cont-r .changeNum {
  margin-top: 55px;
  font-weight: 700;
  height: 25px;
}

#main .main-cont .main-cont-r .changeNum .box {
  text-align: center;
  margin-left: 15px;
  border: 1px solid #ddd;
}

#main .main-cont .main-cont-r .changeNum .box span {
  line-height: 25px;
}

#main .main-cont .main-cont-r .changeNum .box i {
  display: inline-block;
  width: 25px;
  height: 25px;
}

#main .main-cont .main-cont-r .changeNum .box input {
  text-align: center;
  width: 70px;
  height: 25px;
  border-top: 0;
  border-bottom: 0;
  border-left: 1px solid #ddd;
}

#main .main-cont .main-cont-r .bottons {
  margin-top: 46px;
}

#main .main-cont .main-cont-r .bottons input {
  float: left;
  width: 190px;
  height: 40px;
  text-align: center;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  color: #fff;
  line-height: 40px;
}

#main .main-cont .main-cont-r .bottons #btn-buy {
  background: #ed1c24;
  margin-right: 24px;
  cursor: pointer;
}

#main .main-cont .main-cont-r .bottons #btn-add {
  background: #ff9f00;
  cursor: pointer;
}

#main .main-details {
  border: 1px solid #ddd;
  margin-top: 60px;
}

#main .main-details .details-panel {
  height: 41px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

#main .main-details .details-panel a {
  display: inline-block;
  width: 132px;
  height: 40px;
  line-height: 40px;
  color: #777;
}

#main .main-details .details-panel a:hover {
  color: #000;
  cursor: pointer;
}

#main .main-details .details-panel .active {
  border-bottom: 2px solid #ed1c24;
  color: #333;
}

#main .main-details .details-cont {
  text-align: center;
  padding: 15px;
}

#main .main-details .details-cont img {
  width: 1078px;
}
