
$color-bg:#333; //头尾部背景色
$color1:#b0b0b0;    //头部字体颜色
$baseFontsize:12px; //body的字体

$bg-color:#f7f7f7;  //页面背景颜色

// @mixin setFont($f-size,$f-color,$f-lineHeight){
//     font-size: $f-size;
//     line-height: $f-lineHeight;
//     color: $f-color;
// }

body{
    font-family: Microsoft Yahei;
    font-size: $baseFontsize;
}
.margin{
    width: 1140px;
    margin: 0 auto;

}
// 顶部
#top{
    height: 40px;
    background: $color-bg;
    .margin{
        overflow: hidden;
        .top-nav{
            float: left;
            a{
                color: $color1;
                line-height: 40px;
            }
            span{
                color: #424242;
                margin: 5px;
            }
        }
        .top-login{
            float: right;
            a{
                color: $color1;
                line-height: 40px;
            }
            span{
                color: #424242;
                margin: 5px;
            }
        }
        .top-cart{
            float: right;
            width: 113px;
            height: 40px;
            background: #424242;
            margin-left: 15px;
            display: flex;
            justify-content: center;
            a{
                color: $color1;
                line-height: 40px;
                cursor: pointer;
                display: inline-block;
                position: relative;
                img{
                    width: 20px;
                    height: 20px;
                    vertical-align: text-top;
                 }
                //购物框信息小红点
                b{
                    display: none;
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                    position: absolute;
                    top: 3px;
                    right: -10px;
                    background: #f00;
                    text-align: center;
                }
            }
        }
    }
}

// 页头
header{
    .margin{
        height: 50px;
        box-shadow: 0 0 10px rgba($color: #000000, $alpha: .4);        
        .header-logo{
            float: left;
            height: 50px;
            margin: 0 24px;
            line-height: 50px;
            a{
                display: block;
            }
        }
        .header-nav{
            float: left;
            font-size: 14px;
            line-height: 50px;
            text-align: center;
            
            a{
                display: inline-block;
                width: 70px;
                height: 50px;
                color: #767676;
                &:hover{
                    // background: #fff;
                    color: #f71d26;
                }
            }
        }
        .header-search{
            float: right;
            height: 50px;
            line-height: 50px;
            #search{
                width: 200px;
                height: 26px;
                text-indent: 2em;
                margin-right: 30px;
                border: 0;
                outline: none;
                background: rgb(252, 194, 194) url(../images/header-search.png) no-repeat 2px;
            }
        }
    }
}

// 指南部分
#guild{
    background: #fff;
    .margin{
        // height: 535px;
        .guild-t{
            height:114px;
            border-bottom: 1px solid #eaeaea;
            color: #b2b2b2;
            overflow: hidden;
            ul{
                margin: 45px 0 0 58px;
                overflow: hidden;
                li{
                    float: left;
                    width: 215px;
                    img{
                        display: block;
                        float: left;
                        margin: 8px 14px 0 0;
                    }
                    .cont{
                        float: left;
                        h4{
                            font: 18px/28px "";
                        }
                        p{
                            line-height: 22px;
                        }
                    }
                }
            }
        }
        .guild-b{
            height: 420px;
            .guild-b-help{
                overflow: hidden;
                dl{
                    float: left;
                    line-height: 35px;
                    margin: 52px 84px 0 0;
                    dt{
                        font-weight: 700;
                        font-size: 14px;
                        color: #333;
                    }
                    dd{
                        height: 35px;
                        a{
                            color: #767676;
                            &:hover{
                                color:#f71d26;
                            }
                        }
                    }
                }
            }
            .guild-b-tel{
                width: 249px;
                height: 124px;
                border-left:1px solid #eaeaea;
                margin-top: 50px;
                text-align: center;
                h4{
                    font: 700 12px/20px "";
                    color: #6f6c71;
                }
                p{
                    font: 24px/54px "";
                    color: #ff5d59;
                }
                .guild-b-server{
                    a{
                        display: inline-block;
                        border: 1px solid #ff5d59;
                        color: #ff5d59;
                        padding: 5px 10px;
                    }
                    .zixun{
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}

// 页脚
footer{
    height: 100px;
    background: $color-bg;
    text-align: center;
    line-height: 100px;
    color: #666;
    .margin{
        box-sizing: border-box;
        padding: 0 40px;
        .footer-logo{
            width: 155px;
            height: 100px;
        }
        .footer-cont{
            a{
                color: #666;
                &:hover{
                    color: #fff;
                }
            }
        }
    }
}

#bottom{
    text-align: center;
    padding: 10px 0;
}
